/* common */

body {
    background-size: 100% 100%;
    font-size: 16px;
    font-family: Helvetica, sans-serif;
}

body pre {
    font-size: 16px;
    font-family: Helvetica, sans-serif;
}

input, button, textarea, select {
    font-size: 16px;
    font-family: Helvetica, sans-serif;
}

input[type=text], input[type=password] {
    border: 2px solid #ccc;
    border-radius: 4px;
    padding: 4px;
    line-height: 20px;
}

button {
    border: 2px solid #ccc;
    border-radius: 4px;
    padding: 4px 20px;
    background-color: #eee;
    line-height: 20px;
    margin: 0 8px;
}

button.primary {
    border-color: #004784;
    background-color: #337ab7;
    color: #eee;
}

a {
    color: #337ab7;
    cursor: pointer;
}

a:hover {
    color: #ffa84c;
}

h1 {
    color: #337ab7;
    font-size: 24px;
}

/* helper */

.hCenter {
    text-align: center;
}

.center {
    height: 420px;
    width: 400px;

    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;

    max-width: 100%;
    max-height: 100%;
    overflow: auto;
}

@media screen and (max-width: 600px) {
    .center {
        height: auto;
        width: auto;

        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
    }
}

.error {
    color: #E53C16;
}

.success {
    color: #669E00;
}

.small-font {
    font-size: smaller;
}

.spinner {
    width: auto;
    position: fixed;
    top: 16px;
    right: 16px;
    z-index: 1;
    font-size: 24px;
}

.shown {
    display: block;
}

.hidden {
    display: none;
}

/* toast */

.toastContainer {
    width: auto;
    position: fixed;
    bottom: 16px;
    right: 16px;
    z-index: 1;
    border: 3px solid red;
}

.toast {
    width: auto;
    padding: 16px;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    margin: 20px;
}

.toast.error {
    background-color: #E53C16;
}

.toast.info {
    background-color: #337ab7;
}

/* form */

.form {
    margin: 0 8px;
}

.form .line {
    margin: 8px 0;
}

.form .moreMarginLine {
    margin: 20px 0;
}

.form input[type=text], .form input[type=password] {
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.form .inputContainer {
    position: relative;
    width: calc(100% - 32px);
}

.form .inputContainer input {
    display: inline-block;
}

.form .inputContainer i.inside {
    position: absolute;
    right: 8px;
    top: 8px;
}

.form .inputContainer i.outside {
    position: absolute;
    top: 8px;
    right: -24px;
}

.form a {
    font-size: smaller;
}

















.dictionaryWrapper {
    width: 100%;
    height: 500px;
}

iframe {
    width: 100%;
    height: 100%
}

.iframePlaceholder {
    background-color: darkgray;
    width: 100%;
    height: 500px;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px dotted gray;
}

img.preview {
    max-height: 70px;
    max-width: 120px;
}

.given, .wanted {
    border: gray solid 3px;
    border-radius: 7px;
    padding: 10px;
    margin: 20px 0;
}

.hidden {
    visibility: hidden;
}

img.image {
    max-height: 600px;
    max-width: 100%;
}

.lastQuality_0 {
    border-color: pink;
}

.lastQuality_1 {
    border-color: red;
}

.lastQuality_2 {
    border-color: orange;
}

.lastQuality_3 {
    border-color: cyan;
}

.lastQuality_4 {
    border-color: blue;
}

.lastQuality_5 {
    border-color: green;
}

