/* common */

* {
    margin: 0;
    padding: 0;
}

body {
    background-size: 100% 100%;
    font-size: 16px;
    font-family: Helvetica, sans-serif;
}

body pre {
    font-size: 16px;
    font-family: Helvetica, sans-serif;
}

input, button, textarea, select {
    font-size: 16px;
    font-family: Helvetica, sans-serif;
}

input[type=text], input[type=password], input[type=number] {
    border: 2px solid #ccc;
    border-radius: 4px;
    padding: 4px;
    line-height: 20px;
}

input[readonly], input[disabled] {
    background-color: #eee;
    color: #777;
}

button {
    border: 2px solid #ccc;
    border-radius: 4px;
    padding: 4px 20px;
    background-color: #eee;
    line-height: 20px;
    margin: 0 8px;
}

button.primary {
    border-color: #004784;
    background-color: #337ab7;
    color: #eee;
}

button.danger {
    border-color: #990000;
    background-color: #E53C16;
    color: #eee;
}

button.primary[disabled], button.danger[disabled] {
    background-color: #eee;
    border: 2px solid #ccc;
    color: #777;
}

i.primary {
    color: #337ab7;
}

i.danger {
    color: #E53C16;
}

a {
    color: #337ab7;
    cursor: pointer;
}

a:hover {
    color: #ffa84c;
}

h1 {
    color: #337ab7;
    font-size: 24px;
    font-weight: normal;
}

h2 {
    color: #337ab7;
    font-size: 20px;
    font-weight: normal;
}

.header {
    padding: 48px 0 24px 0;
    margin: 0 8px;
}

@media screen and (max-width: 600px) {
    .header {
        padding: 12px 0 12px 0;
    }
}

.header a.title {
    color: #337ab7;
    font-size: 48px;
}

@media screen and (max-width: 600px) {
    .header a.title {
        font-size: 36px;
    }
}

div.wrapper {
    max-width: 1000px;
    margin: auto;
}

.content {
    margin: 0 8px;
}

table {
    border-collapse: collapse;
    margin: 8px 0;
}

table, th, td {
    border: none;
    text-align: left;
}

th, td {
    padding: 4px 16px 4px 0;
}

/* modal */

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal .modalContent {
    background-color: #fff;
    margin: 15% auto;
    padding: 24px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 50%;
}

.modal .modalContent .message {
    margin: 24px 0;
}

/* helper */

.hCenter {
    text-align: center;
}

.center {
    height: 420px;
    width: 400px;

    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;

    max-width: 100%;
    max-height: 100%;
    overflow: auto;
}

@media screen and (max-width: 600px) {
    .center {
        height: auto;
        width: auto;

        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
    }
}

.error {
    color: #E53C16;
}

.success {
    color: #669E00;
}

.small-font {
    font-size: smaller;
}

.spinner {
    width: auto;
    position: fixed;
    top: 16px;
    right: 16px;
    z-index: 1;
    font-size: 24px;
}

.left {
    float: left;
}

.right {
    float: right;
}

/* toast */

.toastContainer {
    width: auto;
    position: fixed;
    bottom: 16px;
    right: 16px;
    z-index: 1;
}

.toast {
    width: auto;
    padding: 16px;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    margin: 24px;
    display: block;
}

.toastWrapper {
    width: 400px;
    display: block;
}

.toast.error {
    background-color: #E53C16;
}

.toast.info {
    background-color: #337ab7;
}

.toastVisible {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s linear;
}

.toastHidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.5s, opacity 0.5s linear;
}

/* form */

.form {
    max-width: 400px;
}

.form .line {
    margin: 8px 0;
}

.form .moreMarginLine {
    margin: 20px 0;
}

.form input[type=text], .form input[type=password] {
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.form input[type=checkbox] {
    margin-right: 8px;
}

.form .inputContainer {
    position: relative;
    width: calc(100% - 32px);
}

.form .inputContainer input {
    display: inline-block;
}

.form .inputContainer i.inside {
    position: absolute;
    right: 8px;
    top: 8px;
}

.form .inputContainer i.outside {
    position: absolute;
    top: 8px;
    right: -24px;
}

.form a {
    font-size: smaller;
}

/* tile */

.tile {
    display: inline-block;
    width: 120px;
    height: 120px;
    border: 2px solid #ccc;
    border-radius: 4px;
    padding: 20px 20px;
    background-color: #eee;
    margin: 12px 24px 12px 0;
    position: relative;
    overflow: hidden;
}

.tile.double {
    width: 308px;
    height: 240px;
}

a:hover.tile {
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
}

a:hover.tile h2 {
    color: #ffa84c;
}

.tile .buttons {
    position: absolute;
    top: 8px;
    right: 8px;
}

.tile .buttons i {
    margin: 4px;
}

a:hover.tile .icon::before {
    color: #ffa84c;
}

.tile table {
    width: 100%;

}

.tile .tileContent {
    margin: 24px 0;
}

.tile h2 {
    text-align: center;
}

.tile .statistics {
    width: 308px;
    position: absolute;
    bottom: 20px;
    left: 20px;
}

/* admin user list  */

.adminUserList {
    width: 100%;
}

.adminUserList td {
    border-bottom: 1px dotted #ccc;
}

/* icons */

.icon::before {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-size: 80px;
    position: absolute;
    line-height: 120px;
    height: auto;
    left: 0;
    right: 0;
    color: #ccc;
    text-align: center;
}

.userList::before {
    content: "\f500";
    font-weight: 900;
}

.categories::before {
    content: "\f0ce";
    font-weight: 900;
}

/* statistics */

.statistics {
    height: 24px;
}

.statistics div {
    height: 24px;
    display: inline-block;
}

.statistics .quality0 {
    background-color: #FF5DB1;
}

.statistics .quality1 {
    background-color: #E53C16;
}

.statistics .quality2 {
    background-color: #ffa84c;
}

.statistics .quality3 {
    background-color: #2AABD2;
}

.statistics .quality4 {
    background-color: #337ab7;
}

.statistics .quality5 {
    background-color: #669E00;
}

/* cards */

.lastQuality_0, .quality0 {
    border-color: pink;
}

.lastQuality_1, .quality1 {
    border-color: red;
}

.lastQuality_2, .quality2 {
    border-color: orange;
}

.lastQuality_3, .quality3 {
    border-color: cyan;
}

.lastQuality_4, .quality4 {
    border-color: blue;
}

.lastQuality_5, .quality5 {
    border-color: green;
}

.dictionaryWrapper {
    width: 100%;
    height: 500px;
}

iframe {
    width: 100%;
    height: 100%
}

.iframePlaceholder {
    background-color: darkgray;
    width: 100%;
    height: 500px;
}

img.preview {
    max-height: 70px;
    max-width: 120px;
}

.given, .wanted {
    border: gray solid 3px;
    border-radius: 7px;
    padding: 10px;
    margin: 20px 0;
}

.hidden {
    visibility: hidden;
}

img.image {
    max-height: 600px;
    max-width: 100%;
}


/* categories */

.categoryList h1 {
    margin: 24px 0;
}

.categoryList table {
    width: 100%;
}

.categoryList td {
    border-bottom: 1px dotted #ccc;
}

.categoryList input, .categoryList select {
    margin-right: 4px;
}

.categoryList .invitedUsers {
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 24px 0;
    padding: 24px;
}

.categoryList .invitedUsers li {
    list-style-type: none;
    margin-bottom: 4px;
}

